body,body * {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Animação*/
@keyframes anima01{
    0%{
        bottom:0;
    }
    100%{
        bottom:100vh;
    }
}

@keyframes anima02 {
    0%{
        opacity: 0;
        transform: scale(1);
    }
    100%{
        opacity: 1;
        transform: scale(2.5);
    }
}

@keyframes anima03 {
    0%{
        right: -30%;
    }
    100%{
        right: 10%;
    }
}

@keyframes anima04 {
    0%{
        opacity: 0;
        transform: rotate(0deg);
    }
    100%{
        opacity: 1;
        transform: rotate(360deg);
    }
}

.conteudo {
    width: 90%;
    margin: 1rem auto;
}

.destaqueMenu {
    color: #c52020;
    font-weight: 700;
}

.destaqueMenu:hover {
    text-decoration: none;
    cursor: default;
}

.w25 {
    width: 25%;
}

.w50 {
    width: 50%;
}

.w75 {
    width: 75%;
}

.w100 {
    width: 100%;
}

.cantoRedondo {
    border-radius: 2rem;
}

.circulo {
    border-radius: 50%;
}

.mtop {
    margin-top: 5vh;
}

.png {
    border: 1px solid #000;
    width: 88vw;
    height: 100vh;
    position: relative;
    background-image: url(../imagens/forest-bg.jpg);
    background-size: 100% 100%;
}

.png img {
    width: 40%;
    position: absolute;
}

.png img:nth-of-type(1) {
    width: 60%;
    top: -5vh;
    right: 0;
    z-index: 2;
}

.png img:nth-of-type(2) {
    width: 15%;
    bottom: 5vh;
    right: 30%;
    z-index: 1;
}

.nave{
    position:relative;
    width:100%;
    height:300px;
    border:1px solid #000;
    overflow: hidden;
}
.nave img{
    width:5%;
    position:absolute;
    bottom:0;
    animation:anima01 linear 6s forwards;
    animation-delay: 1s;
}

.divulga {
    position:relative;
    width:100%;
    height:40rem;
    border:1px solid #000;
    overflow: hidden;
}

.divulga img {
    width: 30%;
    position: absolute;
}

.divulga img:nth-of-type(2) {
    width: 10%;
    left: 40%;
    top: 20%;
    opacity: 0;
    animation: anima02 2s forwards;
    animation-delay: 1s;
    z-index: 1;
}

.divulga img:nth-of-type(3) {
    right: -30%;
    top: 40%;
    animation: anima03 2s forwards;
    animation-delay: 3s;
}

.divulga img:nth-of-type(1) {
    width: 3%;
    top: 65%;
    left: 34%;
    z-index: 2;
    opacity: 0;
    animation: anima04 2s linear infinite;
    animation-delay: 5s;
}

ul.musica li:nth-child(4) {
    color: #7e0909;
}
ul.musica li:nth-child(even) {
    color: #0ea822;
    font-weight: bold;
}

li#teclado {
    border: 1px solid #000;
    list-style: none;
    width: 6rem;
    margin: 0.25rem;
    background-color: #fff;
    transition: all 0.6s;
}
li#teclado a{
    text-decoration: none;
}

li#teclado:hover {
    border: 1px solid #e63c3c;
    background-color: #d7fcf2;
}

table{
    border:1px solid #999;
    width:70%;
    margin:20px auto;
    border-collapse: collapse;
}
table th, table td{
    border:1px solid #999;
}
table th{
    text-align: left;
    border-bottom:4px solid #000;
    padding:5px;
}
table td{
    padding:5px 0 5px 1%;
    width: 25%;
}
table tbody tr:nth-of-type(1) td{
    padding:15px 0 5px 1%;
    background-color: khaki;
}
table tr td:nth-of-type(2){
    font-weight: bold;
}

/*Descricao*/

.color {
    color: green;
}

.ex01 img {
    float: left;
    box-shadow: 10px 10px 10px #000;
    margin:0 4rem 4rem 0;
}

.ex01 p {
    padding: 10% 0 0 0;
}

.clear {
    clear: left;
}

ol,ul {
    padding: 0 0 1.25rem;
}

header, footer {
    width: 100%;
    height: 15vh;
    color: #fffefe;
}

header {
    height: 30vh;
    background: linear-gradient(#0ea882, #5cf3cd);
}

footer {
    margin: 1rem 0 0 0;
    background: linear-gradient(#d7fcf2, #0ea882) ;
}


footer p {
    padding: 2rem 0 0 2rem;
}

body {
    background: linear-gradient(#d7fcf2, #fffefe, #d7fcf2);
}

h1, h2, h3 {
    margin: 2rem 0;
}

h1 {
    letter-spacing: 0.2em;
    margin: 0 0 3rem 0;
}

h3 {
    text-transform: uppercase;
}

h3::before {
    content: "_";
}

p {
    line-height: 1.4em;
    text-indent: 1rem;
}

p::first-letter{
    font-size: 2rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 3px;
}

header p {
    text-align: center;
    padding: 1rem 0 0 0;
    font-size: 2rem;
}

header img {
    width: 20vw;
    display: block;
    margin: 2rem auto;
}

header a {
    position: absolute;
    display: flex;
    color: #fffefe;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-decoration: none;
    margin: 2rem 0 0 2rem;
}

nav {
    background: linear-gradient(#5cf3cd, #d7fcf2) ;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 1rem 1rem 0 0;
}

nav ul li a{
    color: #e63c3c;
    text-decoration: none;
    transition: 1s all;
}

nav ul li a:hover {
    color: #7e0909;
    font-size: 1.1rem;
}
